GitPython==3.1.44
Requests==2.32.3
click==8.1.7
keyring==25.6.0
langchain==0.3.19
langchain_anthropic==0.3.8
langchain_community==0.3.18
langchain_core==0.3.40
langchain_fireworks==0.2.7
langchain_google_genai==2.0.11
langchain_google_vertexai==2.0.13
langchain_groq==0.2.4
langchain_ollama==0.2.3
langchain_openai==0.3.7
langchain_together==0.3.0
pandas==2.2.3
pydantic==2.10.6
pytest==8.3.2
rich==13.9.4
semver==3.0.2
setuptools==75.1.0
build
python-Levenshtein
pytest-cov
pytest-asyncio
twine
firecrawl-py